h1
{color: #065A82}

.verde
{color: #5D93AB}

body{
	background-color: #FFFFFF;}
main{ 
width: 960px ;
background-color:#FFFFFF ;
border-color: #black;
border-style: solid;
border-width: 3px;
margin-left: auto;
margin-right: auto; }

 header{ 
height:120px ;
width:600px ;
background-color:#00487A ;
float: left;}

 nav{ 
height:120px ;
width:360px ;
background-color:#7A9CB3; 
float: right;
 
    padding-top:20px;
    padding-left:25px;

    box-sizing:border-box;}
 
section{
    clear: both;
    width: 880px;
    background-color: #F1EFE6;
    padding: 40px;}


header img{
    margin-top: 20px;
    margin-left: 20px;}


footer{
    background-color:#7A9CB3;
    padding:30px;}

img{
    display:block;
    margin:auto;}

a{
    color:black;}